.header{
    width: 100%;
background-color:  #163A24;
display: flex;
justify-content: space-around;
&__toogle{
  display: none;
  margin-top: 10px;
  position: relative;
  width: 30px;

&::before{
  width: 30px;
  content: "";
  height: 5px;
  top: 5px;
  background-color: white;
  position: absolute;
}
span{
  margin-top: 5px;
  background-color: white;
  width: 30px;
  height: 5px;
  top: 10px;
  position: absolute;
}
&::after{
  content: "";
  width: 30px;
  height: 5px;
  top: 25px;
  background-color: white;
  position: absolute;
}  
  
}
&__nav{
    align-items: center;
display: flex;
  &__li{
    list-style: none;
    a{
        color: white;
        text-decoration: none;
        margin-left: 25px;
    }
  }  
  &__button{
    list-style: none;
    border-radius: 160px;
    background-color: #198C36;
    width: 141px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 25px;
  }
}
}
@media screen and ( max-width: 768px){
  .header{
    width: 768px;
    
  }
}
@media screen and ( max-width: 500px){
  .header{
    width: 500px;
    position: relative;
    &__nav{
       display: none;
position: absolute;
right: 0;
top: 40px;
      padding-right: 20px;
      padding: 10px;
      padding-left: 0;
       flex-direction: column;
       background-color: gray;
       border: 2px solid black;
       li{
        margin-top: 20px;
       }
      }
    &__toogle{
        display: flex;
        &:active ~ .header__nav{
          display: flex;
         } 
    }
  }
}