.hearor{
    display: flex;
    background-color: #163A24;
justify-content: space-around;
    &__hearor-left{
      width: 40%;
      margin-left: 50px;
      margin-top: 70px;
      h1{
        font-weight: 600;
        font-size: 48px;
        line-height: 65px;
        color: white;
        width: 391px;
        height: 196px;
      }
      p{
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: white;
        width: 475px;
        height: 81px;
      }
    }
    &__hearor-right{
        width: 738px;
        height: 580px;
    }
}
@media screen and ( max-width: 768px){
  .hearor{
    width: 768px;
    display: flex;
    justify-content: space-around;
    &__hearor-left{
      width: 40%;
      margin-left: 50px;
      margin-top: 70px;
      h1{
        font-weight: 300;
        font-size: 24px;
        line-height: 23px;
        color: white;
        width: 190px;
        height: 96px;
      }
      p{
        font-weight: 200;
        font-size: 9px;
        line-height: 14px;
        color: white;
        width: 237px;
        height: 41px;
      }
    }
    &__hearor-right{
      width: 369px;
      height: 290px;
      &__img{
        width: 369px;
        height: 290px;
      }
  }
  }
}
@media screen and (max-width:500px){
  .hearor{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    h1{
      width: 160%;
      margin-left: -70px;
    }
p{
  font-size: 12px;
  width: 160%;
  line-height: 20px;
  margin-left: -70px;
}
  }
}