.scene{
    background-color: rgb(176, 176, 176);
padding: 50px;
    &__head{
        display: flex;
        justify-content: space-around;
        align-items: center;
        &__left{
            width: 380px;
            h1{
                font-weight: 600;
                font-size: 48px;
                line-height: 54px;
            }
            p{
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #163A24;
            }
        }
    }
    &__foot{
        text-align: center;
        h1{
            font-size: 48px;
        }
        &__box{
            display: flex;
            justify-content: space-around;
            &__small{
                text-align: start;
                padding: 20px;
                h2{
                    width: 160px;
                }
                h3{
                    width: 250px;
                }
                li{
                    line-height: 40px;
                }
  box-shadow: 5px 5px 20px #E9E4D5;
  border-radius: 15px;
  width: 303px;
  height: 345px;
  background-color: #FBFAF7;
            }
            &__big{
                box-shadow: 5px 5px 20px #E9E4D5;
                border-radius: 15px;
                padding: 20px;
                width: 333px;
                height: 400px;
                background-color: #FBFAF7;  
                line-height: 40px;
                text-align: start;
            }
        }
    }
}