.start{
    display: flex;
    justify-content: space-between;
background-color: #163A24;

&__middle{
    text-align: center;
    margin-top: 80px;
    h1{
        font-weight: 600;
font-size: 48px;
line-height: 54px;
color: white;
    }
    p{
        color: white;
    }
    &__button{
        width: 258px;
        height: 52px;
        background-color: #FAB5A0;
        color:#163A24 ;
        font-weight: 600;
font-size: 16px;
line-height: 22px;
border-radius: 160px;
border: 1px solid #FAB5A0 ;
    }
}
}